.left-sentence{
    margin-top: 10px;
    position: relative;
    overflow:auto;
    text-align: left;
}

.right-sentence{
    margin-top: 10px;
    position: relative;
    overflow: auto;
    text-align: right;
}

.left-sentence .bubble-wrapper{
    width: 100%;
    overflow:auto;
}

.right-sentence .bubble-wrapper{
    width: 100%;
    overflow:auto;
}

.left-sentence .bubble{
    position: relative;
    height: auto;
    min-height: 40px;
    max-width: 70%;
    padding: 5px;
    background: #FFFFFF;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    border: #666666 solid 2px;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 10px 4px 10px 0px #616161;
    -moz-box-shadow: 10px 4px 10px 0px #616161;
    box-shadow: 10px 4px 10px 0px #616161;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    text-align: left;
    overflow:auto;
    display: inline-block;
}

.right-sentence  .bubble{
    position: relative;
    height: auto;
    min-height: 40px;
    max-width: 70%;
    padding: 5px;
    background: #FFFFFF;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    border: #666666 solid 2px;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 10px 4px 10px 0px #616161;
    -moz-box-shadow: 10px 4px 10px 0px #616161;
    box-shadow: 10px 4px 10px 0px #616161;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    text-align: right;
    overflow:auto;
    display: inline-block;
}

.left-sentence .image img {
    margin: 2%;
    width: 16%;
    height: auto;
    float: left;
    border-radius: 14px;
}

.left-sentence .comment {
    margin: 2%;
    height: auto;
    float: right;
    width: 76%;
}

.right-sentence .image img {
    margin: 2%;
    width: 16%;
    height: auto;
    float: right;
}

.right-sentence .comment {
    margin: 2%;
    height: auto;
    float: left;
    width: 76%;
}
